.book-image {
    width: 125px;
    height: auto;
}

.book_view_link {
    color: rgb(244, 137, 56);
    text-decoration: none;
}

.book-card {
    width: 300px;
    max-height: auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-heading {
    padding: 15px;
}

.book-title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 0;
    padding-top: 10px;
}

.book-subtitle {
    font-size: 16px;
}

.book-title a{
    color: black;
    text-decoration: none;
}

ul.book-languages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-right: 20px;
   
}

ul.book-languages li {
    background-color: #7FD1B9;
    min-width: 35px;
    width: auto;
    height: 25px;
    border-radius: 5px;
    list-style-type: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.languages-heading {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}


.book-image-container {
    margin-top: 0;
    margin-bottom: 10px;
}

.language-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.author-heading {
    font-weight: 600;
    text-align: center;
}

.book-year {
    text-align: center;
    margin: 15px;
}

.book-authors {
    text-align: center;
}

.author-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reading-list-link {
    margin-bottom: 15px;
}