
.container {
    margin-top: 75px;
    display: flex;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.book-info-container {
    flex: 1;
    /* border: solid black 1px; */
    position: sticky;
    height: 200px;
    position: sticky;
    top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    max-width: 17rem;
}

.summary-reviews-container {
    flex: 2;
    /* border: solid black 1px; */
    margin: 0;
}

.reviews {
    display: flex;
    
}

.user-info {
    flex: 1;
    margin-top: 3rem;
    /* border: solid black 1px; */
}

.review {
    flex: 2;
    /* border: solid black 1px; */
    margin-top: 3rem;
}

.cover-image {
    border-radius: 10px;
}

.subject-places-time {
    display: flex;
    justify-content: start;
}

.book-title {
    font-size: 3rem;
}

.title-date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}