
* {
    box-sizing: border-box;
}

body {
    color: white;
    background-color: #eac4c6cc;
    padding: 0;
    margin: 0;
}

body, ul {
    margin: 0;
    padding: 0;
}

.main-content {
    margin-top: 50px;
}

.navbar-list {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e07a5f;
    height: 50px;
    width: 75%; /* Controls the width */
    position: fixed; /* Keeps it fixed */
    top: 0.5rem; /* Distance from the top */
    left: 50%; /* Moves the left edge to the center */
    transform: translateX(-50%); /* Centers the navbar */
    margin-bottom: 50px;
    border-radius: 5px;
}

 .current-user {
    position: fixed; /* Keeps it fixed */
    top: 2rem; /* Distance from the top */
    left: 12.5%;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
 }

.welcome {
    color: #7FD1B9;
    font-weight: 800;
    
    
}

.user-name {
    color: #A2D2FF;
}

.navbar-item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-item a:hover {
    color: #7FD1B9;
}



.container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}


.search {
    display: flex;
    justify-content: center;
    padding: 0;
}

.search-form-elements {
    display: flex;
    position: relative;
    
}

.search-box {
    margin-right: 0;
    width: 200px;
    height: 22px;
    /* border-radius: 5px; */
    padding: 0;
}


.submit-search {
    position: absolute;
    right: 1px;
    top: 1px;
    bottom: 0px;
    width: 24px;
    height: 20px;
    border: none;
    background-color: white;
    margin: 0;
}



.submit-search:hover {
    background-color: wheat;
    cursor: pointer;
}