* {
    box-sizing: border-box;
}

body {
    color: black;
    background-color: #faedcd;
    padding: 0;
    margin: 0;
}

body, ul {
    margin: 0;
    padding: 0;
}

.main-content {
    margin-top: 50px;
}


.book_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}


.bookmark-icon {
    width: 3em;
    height: 2em;
    fill: #E07A5F; 
    stroke: rgb(5, 5, 5); 
}


.container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.message {
    max-width: 25%;
    position: absolute;
    left: 40%;
    top: 0px;
    min-width: 10%;
}

.bold-bullet {
    font-weight: bold;
}

.page-description {
    display: grid;
    grid-template-columns: 12.5% auto auto 12.5%;
}

.text-container {
    grid-column: 2;
}


.image {
    grid-column: 3;
    background-size: cover;
    background-position: center;
    width: 500px;
}



.list-description li {
    list-style-position:inherit;
    list-style-type: none;
    margin-top: 10px;
}

.bookish {
    color: #e56399;
    font-weight: 900;
}

