
* {
    box-sizing: border-box;
}

body {
    color: white;
    background-color: #BB8588;
    padding: 0;
    margin: 0;
}

.main-container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book_details_main_container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: flex;
}


.navbar-list {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e07a5f;
    height: 30px;
    width: 75%; /* Controls the width */
    position: fixed; /* Keeps it fixed */
    top: 0.1rem; /* Distance from the top */
    left: 50%; /* Moves the left edge to the center */
    transform: translateX(-50%); /* Centers the navbar */
    margin-bottom: 50px;
    border-radius: 5px;
}

.navbar-item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
}


.submit-search:hover {
    background-color: wheat;
    cursor: pointer;
}

.navbar-item a:hover {
    color: #7FD1B9;
}

