* {
    box-sizing: border-box;
}

#mn-container {
    display: grid;
    grid-template-columns: 20vw 1fr 1fr;
    grid-template-rows: auto auto auto;

}

#personal-container {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.inner-container {
    display: flex;
    flex-direction: column;
    background-color: #f3bfa2;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-radius: 10px;
}

#avatar-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f9d9ca;
    margin-top: 2rem;
}



.shared-attributes {
    margin-left: auto;
    margin-right: auto;
}

#name-title-container {
    width: 70%;
    text-align: center;
    margin-top: 1rem;
}


#bio-container {
    background-color: #f9d9ca;
    width: 80%;
    border-radius: 10px
}

#bio-container p {
    padding: 1.2rem;
}

#personal-info-list {
    margin-top: 2rem;
    width: 80%;
    background-color: #f9d9ca;
    border-radius: 10px;
}

#personal-info-list ul {
    list-style: none;
}

#personal-info-list ul:first-child > li {
    padding-bottom: 0.5rem;
}


#personal-info-list ul:first-child > li:first-child {
    padding-top: 1rem;
}

#personal-info-list ul:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#personal-info-list ul:nth-child(2) li {
    background-color: #b4301c;
    display: inline;
    padding: 0.5rem;
    border-radius: 7px;   

}