* {
    box-sizing: border-box;
}

.grid-container {
    
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: repeat(5, auto) ;
    grid-template-areas: 
        "pic biography"
        "settings followers"
        "settings reviews-number"
        "settings eading-list"
        "settings recent-reviews";
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.avatar-img-div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border-style: solid;
    border-color: #e07a5f;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.profile-contianer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 300px;
}

.avatar-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    /* align-items: center;
    justify-content: center; */
    gap: 1rem;
}

.biography {
    padding: 2rem;
}

.followers-container {
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.settings {
    grid-area: settings;
}

.grid-item {
    outline: solid black;
    background-color: red;
}


.custom-label {
    border: 1px solid #ccc;
    border-radius: 7%;
    display: inline-block;
    padding: 2px 6px;
    cursor: pointer;
    margin: 5px;
    font-size: 12px;
  }

.btn-size {
    padding: 0;
    margin-bottom: 10px;
    width: 10rem;
}

.review-list li {
    display: inline-block;
    border: black solid 1px;
    border-radius: 10px;
    background-color: #e07a5f;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 5px;
    margin-top: 5px;
}

.reading-list li{
    display: inline-block;
    border: black solid 1px;
    border-radius: 10px;
    background-color: #bde0fe;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 5px;
    margin-top: 5px;
}

.follower-avatar {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: black solid 1px;

    img {
        width: 100%;
        
    }

}


.following {
    display: flex;
    justify-content: space-evenly;
    gap: 0.2rem;
}
