{% extends 'book_data/layout.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/book_view.css' %}">

{% endblock %}
    
{% block title %}

{% endblock %}

{% block content %}

    
<div class="message">

    {% if messages %}
        {% for message in messages %}
`           {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    
                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                        </symbol>
                        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                        </symbol>
                        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </symbol>
                    </svg>
                    
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                    
                            <strong>{{ message }}</strong>
                        
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

                </div>

            {% elif message.tags == 'error' %}
                
                <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show" role="alert">

                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                        </symbol>
                        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                        </symbol>
                        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </symbol>
                    </svg>

                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>

            {% endif %}

        {% endfor %}    

    {% endif %}

</div>


    <div class="container">

        {% if book_details %}

        <div class="book-info-container">
            <img class="cover-image" src="{{ book_details.cover }}" alt="" width="100px">
            <p>{{ book_details.author_name}}</p>
            <p>{{ book_details.first_publish_date }}</p>
            <div>
                <p>                
                    <a href="{% url 'add_reading_list' book_details.book_id book_details.cover_key  %}?next={{ request.path|urlencode }}">Add to your Reading List!</a>
                    <svg
                    class="bookmark-icon"
                    viewBox="0 0 24 40"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M2 2 H22 V38 L12 30 L2 38 Z"
                        fill=
                        stroke=
                        stroke-width="4"
                    />
                    </svg>
                </p>
                <p>
                    <a href="{% url 'favorite_books' book_details.book_id book_details.cover_key  %}?next={{ request.path|urlencode }}">Add to your Favorite Books</a>
                </p>
            
            </div>
           
        </div>
        <div class="summary-reviews-container">
            <main class="book-summary">
                <h1 class="book-title">{{ book_details.title }}</h1>
                <p>{{ book_details.description }}</p>
                <div class="write-review-container">
                    <a href="{% url 'write_review' %}">Write a review</a>
                </div>

                    <div class="subject-places-time">
                        {% if book_details.subject_places %}

                            <div class="places-container">
                                <ul class="places">
                                    {% for place in book_details.subject_places %}
                                            <li class="list-item">{{ place }}</li>
                                    {% endfor%}
                                </ul>
                            </div>

                        {% endif %}

                            {% if book_details.subject_times %}

                            
                            <div>
                                <ul class="times">
                                    {% for time in book_details.subject_times %}
                                            <li>{{ time }}</li>
                                    {% endfor%}
                                </ul>
                            </div>


                        {% endif %}

                    </div>

        {% endif %}    

                <hr class="line">

            </main>

        
        
        {% if reviews %}

            {% for review in reviews %}
            <section class="reviews">
                <div class="user-info">

                    {% for profile in profiles %}
                        {% if profile.user == review.reviewer %}
                        <div class="avatar-img-div">
                            <img src="{{ profile.avatar.url }}" alt="Profile Picture" width="100px" height="100px">
                        </div>
                       <a href="{% url 'general_profile_page' user_id=profile.user.id %}"><p>{{ profile.user }}</p></a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="review">
                    <div class="title-date-container">
                        <span>{{ review.rating }}</span>

                        <div>
                            <time datetime="">{{ review.review_date }}</time>
                            {% if user.is_authenticated and user == review.reviewer %}
                                <form action="{% url 'delete_review' review.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-danger btn-sm">Delete review</button>
                                </form>
                            {% endif %}    
                        </div>
                        

                    </div>
                    
                    <p class="review-content">{{ review.content }}</p>

                    <hr>

                    <h4>Comments</h4>
  
                    {% for comment in review.comments.all %}
                        <div class="comments-heading">
                            <div class="author-date-container">
                                <p class="commenter">{{ comment.author }}</p>
                                <time datetime="">{{ comment.data_time }}</time>
                            </div>

                            {% if user.is_authenticated and user == comment.author %} 
                                <div >
                                    <form action="{% url 'delete_comment' comment.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-danger btn-sm">Delete comment</button>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                            
                        <p>{{ comment }}</p>
                        <hr>
                    {% endfor %}

                    <div class="comment-div" >
                        <form action="{% url 'get_comment' review.id %}" class="comment-form" method="POST" >
                            {% csrf_token %}
                            <textarea name="content" id="" class="text-area" placeholder="Add to comment"></textarea>
                            <button type="submit" class="btn btn-outline-dark btn-sm comment-button"><span>Comment</span></button>
                        </form>
                    </div>

                </div>
            </section>

            <hr class="line">
            {% endfor %}

        {% endif %}
        </div>

    </div>



{% endblock %}