{% extends 'book_data/layout.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/fetch_book.css' %}">
{% endblock %}
    
{% block title %}

{% endblock %}

{% block content %}

    <div class="container">

        {% if book_details %}

        <div class="book-info-container">
            <img class="cover-image" src="{{ book_details.cover }}" alt="" width="100px">
            <p>{{ book_details.author_name}}</p>
            <p>{{ book_details.first_publish_date }}</p>
        </div>
        <div class="summary-reviews-container">
            <main class="book-summary">
                <h1 class="book-title">{{ book_details.title }}</h1>
                <p>{{ book_details.description}}</p>
                <div class="write-review-container">
                    <a href="{% url 'write_review' %}">Write a review</a>
                </div>
                <div class="subject-places-time">
                    <ul>
                        <h3>Related Places</h3>
                        {% for place in book_details.subject_places %}
                                <li>{{ place }}</li>
                        {% endfor%}
                    </ul>

                    <ul>
                        <h3>Related Time</h3>
                        {% for time in book_details.subject_times %}
                                <li>{{ time }}</li>
                        {% endfor%}
                    </ul>
                    
                </div>

            </main>

        {% endif %}
        
        {% if reviews %}
            {% for review in reviews %}
            <section class="reviews">
                <div class="user-info">
                    <p>{{ review.reviewer }}</p>
                </div>
                <div class="review">
                    <div class="title-date-container">
                        <time datetime="">{{ review.review_date }}</time>
                    </div>
                    <p>{{ review.content }}</p>
                    <span>{{ review.rating }}</span>
                </div>
            </section>
            {% endfor %}
        {% endif %}
        </div>

    </div>



{% endblock %}