{% extends 'book_data/layout.html' %}

{% load static %}

{% block title %}
    Profile Page
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/profile_page.css' %}">
    <script src="{% static 'scripts/profile_scripts.js' %}"></script>
{% endblock %}

{% block post_buttons %}
    <div></div>
{% endblock %}

{% block content %}
    <div class="grid-container">
        <div class="profile-contianer">
            <div class="avatar-img-div">
                {% if avatar_url %}
                <img src="{{ avatar_url }}" alt="Profile Avatar">
                {% else %}
                    <img src="/book_search/media/avatars/avatar.png" alt="Profile Avatar">
                {% endif %}
            </div>
            <div>
                <form action="{% url 'follow' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="following_id" value="{{ user_id }}">
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit">Follow</button>
                </form>
                <p>Profile User ID: {{ user_id }}</p>
            </div>
        </div>
        <div class="settings">
            <h4>Something-here</h4>
            <ul>
                <li></li>
            </ul>
        </div>
        <div class="biography">
            <h1>{{ user }}</h1>
            <h4>About Me:</h4>
                {{ bio }}
        </div>
        <div class="followers">
            <div>
                <h5>I am following: </h5>
                <ul>
                    {% for item in following %}
                    <li>
                        <a href="{% url 'general_profile_page' user_id=item.following.profile.id %}">{{ item.following }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <h5>Those who follow me:</h5>
                <ul>
                    {% for item in followers %}
                    <li>
                       <a href="{% url 'general_profile_page' user_id=item.follower.profile.id %}"> {{ item.follower }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="reviews">
            <h4>Recent Reviewed</h4>
            <ul class="review-list">
                {% for review in reviews %}
                    <li>
                        {{ review.book_title }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="reading-list">
            <h4>Reading List</h4>
            <ul>
                {% for item in reading_list %}
                    <li>
                        {{ item.title }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="recent-reviews">
            <h4>Favorite Books</h4>
            <ul>
                {% for book in favorite_books %}
                    <li>
                        {{ book.title }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script src=""></script>
{% endblock %}