{% extends 'book_data/layout.html' %}

{% load static %}

{% block title %}
    Profile Page
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/profile_page.css' %}">
    <script src="{% static 'scripts/profile_scripts.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="grid-container">
        <div class="profile-contianer">
            <div class="avatar-img-div">
                {% if avatar_url %}
                <img src="{{ avatar_url }}" alt="Profile Avatar">
                {% else %}
                    <img src="/book_search/media/avatars/avatar.png" alt="Profile Avatar">
                {% endif %}
            </div>
        </div>
        <div class="settings">
            <h4>Something-here</h4>
            <ul>
                <li></li>
            </ul>
        </div>
        <div class="biography">
            <h4>About Me:</h4>
                {{ bio }}
        </div>
        <div class="followers">
            <div>
                <h5>Following</h5>
                <ul>
                    <li></li>
                </ul>
            </div>
            <div>
                <h5>Followers</h5>
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="reviews">
            <h4>Recent Reviewed</h4>
            <ul class="review-list">
                {% for review in reviews %}
                    <li>
                        {{ review.book_title }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="reading-list">
            <h4>Reading List</h4>
            <ul>
                {% for item in reading_list %}
                    <li>
                        {{ item.title }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="recent-reviews">Recent Reviews</div>
    </div>

    <script src=""></script>
{% endblock %}