{% extends "book_data/layout.html" %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    <div class="current-user">
        {% if user.is_authenticated %}
            <h3>Welcome, {{ user.username }}</h3>
        {% endif %}
    </div>

    <h1 class="container">Book Search</h1>

    <div class="container search">
        <form action="" >
            <input class="search-box" type="text" value="Dean Koonts">
            <button class="submit-search" type="submit">Search</button>
        </form>
    </div>


<div class="container book_container" ></div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/get_book_data.js' %}" type="module"></script>
    <script src="{% static 'scripts/script.js' %}" type="module"></script>
{% endblock %}
