{% extends 'book_data/layout.html' %}

{% load static %}
    

{% block title %}
    Register
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/profile_page.css' %}">
    <link rel="stylesheet" href="{% static 'style/posts_reviews_cards.css' %}">
{% endblock %}

{% block post_buttons %}
    <div></div>
{% endblock %}

{% block content %}
    <main id="mn-container">

        <section id="personal-container">
           <div class="inner-container">

                <div id="avatar-container" class="shared-attributes">
                    <img src="{{ avatar_url }}" alt="">
                </div>

                <div id="avatar-modal" class="avater-modal shared-attributes">
                    
                    <button type="button" class="btn btn-primary avatar-bttn" data-bs-toggle="modal" data-bs-target="#avatarModal">
                        Change Avatar
                    </button>
                    
                    <div class="modal fade" id="avatarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="" method="POST" enctype="multipart/form-data"> 
                                <div class="modal-body">
                                    {% csrf_token %}
                                    {{ avatar_form }}
                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" name="submit_avatar" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
                
                <div id="name-title-container" class="shared-attributes">
                    <p>{{ request.user }}</p>
                    <p>Title: Reader</p>
                </div>


                <div id="bio-container" class="shared-attributes">
                    <p>
                        {{ bio }}
                    </p>

                    <div class="shared-attributes"> 
                        <button type="button" class="btn btn-primary avatar-bttn" data-bs-toggle="modal" data-bs-target="#bioModal">
                        Add a bio!
                        </button>

                        <div class="modal fade" id="bioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                    <form action="" method="POST">
                                        <div class="modal-body">
                                            {% csrf_token %}
                                            {{ bio_form }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" name="submit_bio" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>




                <div id="personal-info-list" class="shared-attributes ">
                    <ul>
                        <li><span>Age:</span> 99</li>
                        <li><span>Status:</span> Reading</li>
                        <li><span>Location:</span> Planet Earth</li>
                    </ul>
                    <ul>
                        <li><span>Alpha</span></li>
                        <li><span>Bravo</span></li>
                        <li><span>Charlie</span></li>
                        <li><span>Delta</span></li>
                        <li><span>Echo</span></li>
                        <li><span>Echo</span></li>
                    </ul>
                </div>

           </div>
        </section>



        <section id="lists-container">
            <h2>Reading and Favorite Lists</h2>

            <section id="reading-list-section" class="shared-attributes" aria-labelledby="reading-list">
                <h3 class="h3-style ">I am reading!</h3>
                <ul id="reading-list">
                    {% for item in reading_list %}
                        <li>{{ item.title }}</li>
                    {% endfor %}
                </ul>
            </section>


            <section id="favorite-list-section" class="shared-attributes" aria-labelledby="favorie-list">
                <h3 class="h3-style ">Favorite Books</h3>
                <ul id="favorite-list">
                    {% for item in favorite_books %}
                        <li>{{ item.title }}</li>
                    {% endfor %}
                </ul>
            </section>

        </section>

        <section id="review-container">
            <h2>My Reviews</h2>
            <section id="reviews-section" class="shared-attributes" aria-labelledby="review-list">
                <div id="review-list" >
                    {% for review in reviews %}
                        <div>
                                <div>
                                    <span>Title: {{ review.book_title }} </span>
                                    <span>Rating: {{ review.rating }}</span>
                                </div>
                                <p>
                                    {{review.content }}
                                </p>
                        </div>
                     {% endfor %}
                </div>
            </section>
        </section>



        <section id="followers-container" aria-labelledby="followers-section">
            
            <div>
                <h3>Folowing</h3>
                <ul id="following-section">
                    {% for item in following %}
                            <li>{{ item.following }}</li>
                    {% endfor%}
                    <li>John Doe</li>
                    <li>Jane Smith</li>
                    <li>Alex Johnson</li>
                    <li>Chris Lee</li>
                    <li>Sam Taylor</li>
                    <li>John Doe</li>
                    <li>Jane Smith</li>
                    <li>Alex Johnson</li>
                    <li>Chris Lee</li>
                    <li>Sam Taylor</li>
                </ul>
            </div>

            <div>
                <h3>Followers</h3>
                <ul id="followers-section">
                    {% for item in followers %}
                            <li>{{ item.follower }}</li>
                    {% endfor%}
                    <li>John Doe</li>
                    <li>Jane Smith</li>
                    <li>Alex Johnson</li>
                    <li>Chris Lee</li>
                    <li>Sam Taylor</li>
                    <li>John Doe</li>
                    <li>Jane Smith</li>
                    <li>Alex Johnson</li>
                    <li>Chris Lee</li>
                    <li>Sam Taylor</li>
                </ul>
            </div>


        </section>

        <section id="posts-container">
            <h2>My Posts</h2>
            <section id="posts-section" class="shared-attributes" aria-labelledby="posts-list">
                
                <div id="posts-list">

                    {% for post in posts %}
            
                        {% if post.post_type == 'image_form' %}
                            <div class="card">
                                <header><img class="image-post" src="{{ post.image.url }}" alt="post image"></header>
                                <footer>
                                    <div class="user">
                                        <div>
                                            <img class="profile-img" src="{{ post.user.profile.avatar.url }}" alt="">
                                            <div class="username">{{ post.user }}</div>
                                        </div>
                                        <p>{{ post.created_at }}</p>
                                    </div>
                                    <span class="line"></span>
                                    <div class="description">
                                        <p>{{ post.description }}</p>
                                    </div>
                                </footer>
                            </div>
                        {% endif %}

                        {% if post.post_type == 'video_form' %}
                            <div class="card">
                                <video class="video-post" controls>
                                    <source src="{{ post.video.url }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                                <footer>
                                    <div class="user">
                                        <div>
                                            <div class="avatar"><img class="profile-img" src="{{ post.user.profile.avatar.url }}" alt=""></div>
                                            <div class="username">{{ post.user }}</div>
                                        </div>
                                        <p>{{ post.created_at }}</p>
                                    </div>
                                    <span class="line"></span>
                                    <div class="description">
                                        <p>{{ post.description }}</p>
                                    </div>
                                </footer>
                            </div>
                        {% endif %}


                        {% if post.post_type == 'text_form' %}

                            <div class="card">
                                <header><p class="text-post">{{ post.text }}</p></header>
                                <span class="line"></span>
                                <footer>
                                    <div class="user">
                                        <div>
                                            <div class="avatar"><img class="profile-img" src="{{ post.user.profile.avatar.url }}" alt=""></div>
                                            <div class="username">{{ post.user }}</div>
                                        </div>
                                        <p>{{ post.created_at }}</p>
                                    </div>
                                </footer>
                            </div>

                        {% endif %}


                    {% endfor %}

                </div>

            </section>

        </section>

    </main>


{% endblock %}