{% extends 'book_data/layout.html' %}

{% load static %}
    

{% block title %}
    Register
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/profile_page.css' %}">
    <script src="{% static 'scripts/profile_scripts.js' %}"></script>
    
{% endblock %}

{% block post_buttons %}
    <div></div>
{% endblock %}

{% block content %}
    <main id="mn-container">

        <section id="personal-container">
           <div class="inner-container">

            
            <div id="avatar-container" class="shared-attributes ">
                <img src="{{ avatar_url }}" alt="">
            </div>

            <div id="avatar-modal" class="avater-modal shared-attributes">
                
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary shared-attributes" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Change Avatar
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="" method="POST" enctype="multipart/form-data"> 
                            <div class="modal-body">
                                {% csrf_token %}
                                {{ avatar_form }}
                                
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="input" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>

            </div>
            
            <div id="name-title-container" class="shared-attributes">
                <p>Firs name, Last name</p>
                <p>title: my title here</p>
            </div>


            <div id="bio-container" class="shared-attributes">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                   Quaerat quisquam ad facilis excepturi, eaque qui voluptate 
                   voluptas dolor praesentium est ducimus tempora quia voluptates 
                   voluptatibus consectetur molestiae natus, ab aperiam.
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                   Quaerat quisquam ad facilis excepturi, eaque qui voluptate 
                   voluptas dolor praesentium est ducimus tempora quia voluptates 
                   voluptatibus consectetur molestiae natus, ab aperiam.
                </p>
            </div>


            <div id="personal-info-list" class="shared-attributes ">
                <ul>
                    <li><span>Age:</span> 99</li>
                    <li><span>Status:</span> Reading</li>
                    <li><span>Location:</span> Planet Earth</li>
                </ul>
                <ul>
                    <li><span>Alpha</span></li>
                    <li><span>Bravo</span></li>
                    <li><span>Charlie</span></li>
                    <li><span>Delta</span></li>
                    <li><span>Echo</span></li>
                    <li><span>Echo</span></li>
                </ul>
            </div>

           </div>
        </section>



        <section id="lists-container">

        </section>



        <section id="misc-container">

        </section>




    </main>




    <!-- <script>
        setTimeout(function() {
            window.location.reload();
        }, 10000); // Refresh every 10 seconds (10000 milliseconds)
    </script> -->
{% endblock %}