{% extends 'book_data/layout.html' %}

{% load static %}

{% block title %}
    User's reviews
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/reviews_page.css' %}">
{% endblock %}

{% block post_buttons %}
    <div></div>
{% endblock %}

{% block content %}

    {% if reviews %}
        
        {% for review in reviews %}

            <div class="reviews-container">
                <div class="review-container">
                    <div class="review-heading">
                        <div>
                            <p>{{ review.reviewer }}</p>
                            <a href="{% url 'book_view' review.book_id review.cover_id %}">{{ review.book_title }}</a>
                        </div>
                        
                        <form action="{% url 'delete_review_from_list' review.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete review</button>
                        </form>
                    </div>
                    <p >{{ review.content }}</p>
                    <a href="{% url 'book_view' review.book_id review.cover_id %}">Go to review</a>
                </div>
                <hr>
            </div>

        {% endfor %}

    {% endif %}


{% endblock %}