{% extends 'book_data/layout.html' %}

{% load static %}

{% block title %}
    User's reviews
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/reviews_page.css' %}">
{% endblock %}


{% block content %}

    {% if reviews %}
        
        {% for review in reviews %}

            <div class="reviews-container">
                <div class="review-container">
                    <form action="{% url 'delete_review_from_list' review.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete review</button>
                    </form>
                    <p >{{ review.content }}</p>
                </div>
                <hr>
            </div>

        {% endfor %}

    {% endif %}


{% endblock %}